<div class="row mb-3">
  <div class="col-md-3 pr-0">
    <div class="d-flex flex-row simpli-tiles bubble_background">
      <div class="d-flex flex-column">
        <img
          src="assets/img/Group_Customer.svg"
          class="rounded-circle customer_type_icon"
          alt="Customer Type"
          *ngIf="customerType == 'G'"
        />
        <img
          src="/assets/img/Individual_Customer.svg"
          class="rounded-circle customer_type_icon"
          alt="Customer Type"
          *ngIf="customerType == 'I'"
        />
      </div>
      <div class="d-flex flex-column flex-grow-1">
      <div class="d-flex flex-row ml-1">
        <div class="w-50 text-light">Customer ID</div>
        <div class="w-50 text-light text-right">{{ seletedClientId }}</div>
      </div>
        <div class="d-flex flex-row ml-1">
          <div class="w-50 text-light">Customer ID</div>
          <div class="w-50 text-light text-right">{{ seletedClientId }}</div>
        </div>
      </div>
    </div>
  </div>
</div>
