<div class="row mb-3">
  <div class="col-md-3 pr-0">
    <div
      class="d-flex flex-row simpli-tiles bubble_background"
      (click)="showFlag = !showFlag"
    >
      <div class="d-flex flex-column">
        <img
          src="assets/img/Group_Customer.svg"
          class="rounded-circle customer_type_icon"
          alt="Customer Type"
          *ngIf="seletedOptionType == 'G'"
        />
        <img
          src="/assets/img/Individual_Customer.svg"
          class="rounded-circle customer_type_icon"
          alt="Customer Type"
          *ngIf="seletedOptionType == 'I'"
        />
        <img
          src="/assets/img/Branches.svg"
          class="rounded-circle customer_type_icon"
          alt="Customer Type"
          *ngIf="seletedOptionType == 'B'"
        />
        <img
          src="/assets/img/disabled.svg"
          class="rounded-circle customer_type_icon"
          alt="Customer Type"
          *ngIf="
            seletedOptionType != 'B' &&
            seletedOptionType != 'I' &&
            seletedOptionType != 'G'
          "
        />
      </div>
      <div class="d-flex flex-column flex-grow-1">
        <div class="d-flex flex-row ml-1">
          <div class="w-90 flex-grow-1 text-light">{{ seletedText }}</div>
          <div class="w-10 text-light text-right">
            <fa-icon [icon]="faChevronDown"></fa-icon>
          </div>
        </div>
        <div class="d-flex flex-row ml-1">
          <div class="w-50 text-light">Customer ID</div>
          <div class="w-50 text-light text-right">{{ seletedId }}</div>
        </div>
      </div>
    </div>
    <div class="d-flex flex-column elevation" *ngIf="showFlag">
      <div *ngIf="data.type == 'G'">
        <div
          class="d-flex flex-row border-bottom selectable"
          (click)="onSelected('G', data.clientId, data.name)"
        >
          <div class="option-icon group-icon">
            <img
              src="assets/img/Group_Customer.svg"
              class="rounded-circle customer_type_icon"
              alt="Customer Type"
            />
          </div>
          <div class="option-text flex-fill">
            {{ data.id }} - {{ data.name }}
          </div>
        </div>
        <div class="d-flex flex-column" *ngFor="let company of data.companies">
          <div
            class="d-flex flex-row border-bottom selectable"
            (click)="onSelected('I', company.clientId, company.name)"
          >
            <div class="option-icon company-icon">
              <img
                src="assets/img/Individual_Customer.svg"
                class="rounded-circle customer_type_icon"
                alt="Customer Type"
              />
            </div>
            <div class="option-text flex-fill">
              {{ company.id }} - {{ company.name }}
            </div>
          </div>
          <div
            class="d-flex flex-row border-bottom selectable"
            (click)="onSelected('B', branch.id, branch.name)"
            *ngFor="let branch of company.branches"
          >
            <div class="option-icon branch-icon">
              <img
                src="assets/img/Branches.svg"
                class="rounded-circle customer_type_icon"
                alt="Customer Type"
              />
            </div>
            <div class="option-text flex-fill">
              {{ branch.id }} - {{ branch.name }}
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="data.type == 'I'">
        <div
          class="d-flex flex-row border-bottom selectable"
          (click)="onSelected('I', data.clientId, data.name)"
        >
          <div class="option-icon group-icon">
            <img
              src="assets/img/Individual_Customer.svg"
              class="rounded-circle customer_type_icon"
              alt="Customer Type"
            />
          </div>
          <div class="option-text flex-fill">
            {{ data.id }} - {{ data.name }}
          </div>
        </div>
        <div
          class="d-flex flex-column"
          *ngFor="let branch of data.branches"
          (click)="onSelected('B', branch.id, branch.name)"
        >
          <div class="d-flex flex-row border-bottom selectable">
            <div class="option-icon company-icon">
              <img
                src="assets/img/Branches.svg"
                class="rounded-circle customer_type_icon"
                alt="Customer Type"
              />
            </div>
            <div class="option-text flex-fill">
              {{ branch.id }} - {{ branch.name }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
