.bubble_background {
  background-color: blue;
  padding: 10px;
  border-radius: 0.25rem;
}

.bubble_background > div > .label .bubble_background > div > .value {
  width: 50%;
  color: #fff;
}

.bubble_background select {
  background-color: transparent;
  color: white;
  border-color: transparent;
  padding: 0px;
  height: calc(0.9em + 0.5rem + 1px);
}
.bubble_background select:focus {
  background-color: transparent;
  color: white;
  border-color: transparent;
  padding: 0px;
  box-shadow: none;
}

.bubble_background .customer_type_icon {
  width: 42px;
}

.group-icon {
  padding-left: 1rem;
}

.company-icon {
  padding-left: 3rem;
}

.branch-icon {
  padding-left: 5rem;
}

.group-icon,
.company-icon,
.branch-icon {
  padding-right: 0.5rem;
  padding-bottom: 0.3rem;
  padding-top: 0.3rem;
}

.option-text {
  padding-bottom: 0.3rem;
  padding-top: 0.3rem;
}

.elevation {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.selectable:hover {
  background-color: blue;
  color: white;
  cursor: pointer;
}
.cursor-pointer {
  cursor: pointer;
}
